/* design tokens from https://open-props.style/ */
/* can be replaced for a more safe @import "open-props/style"; if the lib is installed with npm install open-props */
@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: var(--font-industrial);  
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1.5;
  vertical-align: baseline;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select,
fieldset {
  font: inherit;
}
